body {
    font-family: 'segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #000000;
    color: #ffffff;
    display: grid;
    gap: 50px;
}

nav {
    background-color: #eb0000; /* mörk bakgrund */
    padding: 15px 20px;
}
 
.title {
    color: white;
    font-size: 20px;
    font-weight: bold;
}
 
.nav-container {
    display: flex;
    align-items: center;
}

.header-content {
    background-color: blue;
    div {
        text-align: center;
    }

}